<body>
    Error
</body>

    <div class="form-group ip-text">
        <div class="input-auth">
            <label for="password">Password</label>
            <label for="forgot" style="display: inline-block; margin-left: 271px; color: #6255a5">Forgot
                Password?</label>
            <input type="password" class="form-control input-field" name="Password" id="Password"
                placeholder="Enter your password"
                style="background: url(images/eye.png) no-repeat scroll 440px 17px; background-color: white; padding-left:10px; margin-bottom: 0px;">
        </div>
        <% if(locals.checkPass) { %>
            <label for="password_error" style="color: red; margin-left: 50px; font-size: 12px;">
                <%= checkPass %>
            </label>
            <% } %>
    </div>