<hr style="margin: 0;">
<footer class="text-left">

    <div class="container">
        <div class="row" style="height: 80px;">
            <div class="col-xl-12" style="display: inline-block;">
                <div class="footer-wrap">
                    <p>Copyright &copy; TatvaSoft All Rights Reserved</p>
                    <ul class="social-list">
                        <li><a href="https://www.facebook.com/vishwesh.chotaliya/"><img src="/images/facebook.png"
                                    alt=""></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/vishwesh-chotaliya-235b31143/"><img
                                    src="/images/linkedin.png" alt=""></a></li>
                        <li><a href="https://twitter.com/v_chotaliya"><img src="/images/twitter.png" alt=""></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>